In [43]:
a=int(input('enter a number'))
b=int(input('enter a number'))
c=int(input('enter a number'))
if (a or b)%c==0:
    if (a and b)%c==0:
             print('both are divsible by c')
    else:
         print('only one is  divisible')
else:
    print('both are not divisible')

enter a number8
enter a number19
enter a number2
only one is  divisible

In [44]:
a=int(input('enter first number'))
b=int(input('enter second number'))
c=int(input('enter third number'))
if a!=b and a>b:
    print('you won a bike')
elif a<b:
    print('50% off in Dominos')
else:
    print('better luck next time')

enter first number7856
enter second number876
enter third number564
you won a bike

In [46]:
temp=float(input("enter temp :"))
if temp==25 or temp<=25:
    print("coolest weather")
elif (temp==30)>=25 or (temp==30)>25:
    print("cool weather")
else:
        print("warm weather")

enter temp :27
warm weather

In [47]:
name1=str(input("enter a string:")) 
name2=str(input("enter a string:"))  
if  name1==name2:
  print('both the strings are equal')  
else:
   print('strings are not equal')

enter a string:akash
enter a string:nishad
strings are not equal

In [50]:
a = 20
  
if not a:
    print("Boolean value of a is True")
  
if not (a%2 == 0 or a%5 == 0):
    print("20 is not divisible by either 2 or 5")
else:
    print("20 is divisible by either 2 or 5")

20 is divisible by either 2 or 5

In [52]:
a=float(input("enter 1st no. :"))
b=float(input("enter 2nd no. :"))
if a==b and a>=b:
    print("a is greater and equal")
elif not(a==b and a>=b):
    print("false")

enter 1st no. :75
enter 2nd no. :95
false

In [68]:
str1=str(input("enter str1 :"))
str2=str1[::-1]
if str1 == str2 :
  print("str1 is palindrome")
else :
  print("str1 is not palindrome")

enter str1 :nitin
str1 is palindrome

In [70]:
str1=str(input("enter str1 :"))
str2=str1[::-1]
str2

enter str1 :nitin

'nitin'

### PYTHON LOOPS

In [72]:
NAMES=["akash","nishad","kapil","tuba"]
for x in NAMES:
    print(x)

akash
nishad
kapil
tuba

In [73]:
for x in "akash":
    print(x)

a
k
a
s
h

In [74]:
# break statement
NAMES=["akash","nishad","kapil","tuba"]
for x in NAMES:
    print(x)
    if x=="kapil":
        break

akash
nishad
kapil

In [75]:
NAMES=["akash","nishad","kapil","tuba"]
for x in NAMES:
    print(x)
    if x=="kapil":
        break
        print(x)

akash
nishad
kapil

In [82]:
for x in range(20):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [83]:
for x in range(50,70):
    print(x)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69

In [78]:
for name in"Akash":
    if name=="h":
        break
    print(name)

A
k
a
s

In [80]:
for name in"Akash pal gyanprakash":
    if name=="h":
        continue
    print(name)

A
k
a
s

p
a
l

g
y
a
n
p
r
a
k
a
s

In [81]:
for name in "saurabh":
    if name=='r':
        break
    print(name)

s
a
u

In [85]:
students = ["akash","nishad","kapil","tuba"]

for student in range(0, len(students)):
    if student == 4:
        break
    else:
        print(students[student])

    print("Counter is " + str(student))

akash
Counter is 0
nishad
Counter is 1
kapil
Counter is 2
tuba
Counter is 3

In [87]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
for x in days:
    if x =='friday':
       break
    print(x)

monday
tuesday
wednesday
thursday

### WHILE LOOPS

In [89]:
# ADDITION OF FIRST N NUMBERS
num=100
addition=0
i=1
while i<=num:
    addition=addition+i
    i=i+1
print("Addition is:",addition)

Addition is: 5050

### for loops

In [90]:
number=range(10,21)
addition=0
for i in number:
    addition=addition+i
print("Addition is:",addition)

Addition is: 165

### BREAK

In [91]:
text="dataScientist"
for letter in text:
    if letter=="e":
        break
    print(letter)
print("The for loop stopped executing")

d
a
t
a
S
c
i
The for loop stopped executing

In [95]:
text="dataScientist"
for letter in text:
    if letter=="e":
        print("The loop leave a space here")
        continue
    print(letter)

d
a
t
a
S
c
i
The loop leave a space here
n
t
i
s
t

In [96]:
levels=int(input("Enter number of levels:"))
for level in range(1,levels+1):
    for num in range(level):
        print(level,end=" ")
        
    print("\n")

Enter number of levels:5
1

2 2

3 3 3

4 4 4 4

5 5 5 5 5